@import "./tokens.css";
@import "./layout.css";

:root {
	font-size: var(--font-size-small);
	font-family: var(--font-family-body);
}

:root,
body {
	height: 100%;
}

:where(h1, h2, h3, h4) {
	font-family: var(--font-family-heading);
}

.bg-mesh {
	background-color: color-mix(in sRGB, var(--color-brand-light-1000) 25%, transparent);
	background-image:
		radial-gradient(at 15% 15%, hsl(0deg 0% 100% / 70%) 0, transparent 50%),
		radial-gradient(at 64% 96%, hsl(0deg 100% 100% / 70%) 0, transparent 50%),
		radial-gradient(at 100% 30%, hsl(0deg 100% 100% / 70%) 0, transparent 50%);
}
