.container {
	@apply mx-auto w-full max-w-screen-lg px-sm md:px-md;
}

.grid-container {
	--grid-column-count: 4;
	--grid-column-width: var(--space-64);
	--grid-gutter: var(--space-sm);
	--grid-margin: var(--space-sm);

	display: grid;
	grid-template-columns: repeat(var(--grid-column-count), minmax(0, var(--grid-column-width)));
	align-content: start;
	margin-inline: var(--grid-margin);
	column-gap: var(--grid-column-width);
}

@media (width >= 48rem) {
	.grid-container {
		--grid-column-count: 8;
		--grid-gutter: var(--space-md);
		--grid-margin: var(--space-xl);
	}
}

@media (width >= 80rem) {
	.grid-container {
		--grid-column-count: 12;
		--grid-gutter: var(--space-lg);
		--grid-margin: var(--space-2xl);
	}
}
