/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable no-duplicate-selectors */

:root {
	/** Color palette. */
	--color-brand-light-1000: hsl(210deg 65% 47%);
	--color-brand-light-800: hsl(210deg 65% 47% / 80%);
	--color-brand-light-200: hsl(210deg 65% 47% / 20%);
	--color-brand-light-50: hsl(210deg 100% 57% / 5.1%);

	--color-gray-light-1000: hsl(210deg 100% 7% / 89.8%);
	--color-gray-light-700: hsl(210deg 100% 10% / 65.1%);
	--color-gray-light-500: hsl(210deg 100% 15% / 45.1%);
	--color-gray-light-100: hsl(210deg 100% 20% / 10.2%);
	--color-gray-light-50: hsl(210deg 100% 25% / 3.9%);

	--color-gray-solid-1000: hsl(0deg 0% 0%);
	--color-gray-solid-900: hsl(210deg 18% 9%);
	--color-gray-solid-850: hsl(210deg 13% 13%);
	--color-gray-solid-800: hsl(210deg 11% 18%);
	--color-gray-solid-50: hsl(210deg 33% 97%);
	--color-gray-solid-0: hsl(0deg 0% 100%);

	/** Typography. */
	--font-family-body: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
	--font-family-heading: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
	--font-size-display: 2.5rem;
	--font-size-h1: 2.25rem;
	--font-size-h2: 1.75rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;
	--font-size-lead: 1.125rem;
	--font-size-small: 1rem;
	--font-size-tiny: 0.875rem;
	--font-size-uppercase: 0.75rem;
	--line-height-display: 3rem;
	--line-height-h1: 2.75rem;
	--line-height-h2: 2.25rem;
	--line-height-h3: 2rem;
	--line-height-h4: 1.75rem;
	--line-height-lead: 1.625rem;
	--line-height-small: 1.5rem;
	--line-height-tiny: 1.25rem;
	--line-height-uppercase: 1.125rem;
	--letter-spacing-display: -0.05em;
	--letter-spacing-h1: -0.01em;
	--letter-spacing-uppercase: 0.125em;
	--font-weight-weak: 400;
	--font-weight-emphasised: 500;
	--font-weight-strong: 600;
	--font-weight-display: 700;

	/** Space. */
	--space-xs: 0.5rem;
	--space-sm: 1rem;
	--space-md: 1.5rem;
	--space-lg: 2rem;
	--space-xl: 3rem;
	--space-2xl: 5rem;

	/** Corner radius. */
	--corner-rounding-sm: 0.5rem;
	--corner-rounding-md: 1rem;
	--corner-rounding-lg: 2rem;

	/** Shadows. */
	--shadow-raised: 0px 4px 8px oklch(0% 0 none / 4%), 0px 2px 4px oklch(0% 0 none / 8%);
	--shadow-overlay: 0px 20px 24px oklch(0% 0 none / 8%), 0px 8px 8px oklch(0% 0 none / 4%);
}

:root {
	/** Colors. */
	--color-text-strong: var(--color-gray-light-1000);
	--color-text-weak: var(--color-gray-light-700);
	--color-text-brand: var(--color-brand-light-1000);
	--color-text-disabled: var(--color-gray-light-100);
	--color-stroke-strong: var(--color-gray-light-500);
	--color-stroke-weak: var(--color-gray-light-100);
	--color-stroke-selected: var(--color-brand-light-1000);
	--color-stroke-focus: var(--color-brand-light-1000);
	--color-stroke-disabled: var(--color-gray-light-100);
	--color-stroke-brand-strong: var(--color-brand-light-800);
	--color-stroke-brand-weak: var(--color-brand-light-200);
	--color-fill-strong: var(--color-gray-light-1000);
	--color-fill-weak: var(--color-gray-light-50);
	--color-fill-hover: var(--color-gray-light-50);
	--color-fill-press: var(--color-gray-light-100);
	--color-fill-selected: var(--color-brand-light-1000);
	--color-fill-disabled: var(--color-gray-light-100);
	--color-fill-overlay: var(--color-gray-light-500);
	--color-fill-brand-strong: var(--color-brand-light-1000);
	--color-fill-brand-weak: var(--color-brand-light-50);
	--color-background: var(--color-gray-solid-0);
	--color-background-raised: var(--color-gray-solid-0);
	--color-background-overlay: var(--color-gray-solid-0);
}

@media (width >= 64rem) {
	:root {
		/** Typography. */
		--font-size-display: 3.5rem;
		--font-size-h1: 2.5rem;
		--font-size-h2: 2rem;
		--line-height-display: 4rem;
		--line-height-h1: 3rem;
		--line-height-h2: 2.5rem;
	}
}
