---
interface Props {
	/** @default "dark" */
	variant?: "light" | "dark";
}

const { variant = "dark" } = Astro.props;

// #4c64d9

const variants = {
	dark: "bg-black/60",
	light: "bg-black/30",
};
---

<div class:list={[variants[variant]]} class="absolute inset-0 size-full"></div>
