---
import type { HTMLAttributes } from "astro/types";

import { defaultLocale, type Locale } from "@/config/i18n.config";
import { ensureTrailingSlash } from "@/lib/ensure-trailing-slash";
import { isAriaCurrent } from "@/lib/is-aria-current";
import { withBasePath } from "@/lib/with-base-path";

export interface Props extends HTMLAttributes<"a"> {
	href: string;
	locale?: Locale;
	reload?: boolean;
}

const { "aria-current": ariaCurrent, href, locale, reload, ...props } = Astro.props;

const localisedHref =
	URL.canParse(href) || props.download != null || !href.startsWith("/")
		? href
		: withBasePath(
				`/${locale ?? Astro.currentLocale ?? defaultLocale}${ensureTrailingSlash(href)}`,
			);
---

<a
	{...props}
	aria-current={ariaCurrent ?? (isAriaCurrent(localisedHref, Astro.url) ? "page" : undefined)}
	data-astro-reload={reload}
	href={localisedHref}
>
	<slot />
</a>
