---
import LocaleLink from "@/components/locale-link.astro";
import type { Locale } from "@/config/i18n.config";
import { createI18n } from "@/lib/i18n/create-i18n";

interface Props {
	locale: Locale;
}

const { locale } = Astro.props;

const { t } = await createI18n(locale);
---

<footer class="bg-neutral-900 text-neutral-200">
	<div class="container flex justify-between gap-x-lg py-lg text-sm">
		<div>
			&copy;
			{new Date().getUTCFullYear()}
		</div>
		<div>
			<LocaleLink class="transition hover:text-white aria-[current]:font-strong" href="/imprint">
				{t("common.imprint")}
			</LocaleLink>
		</div>
	</div>
</footer>
