---
import "@fontsource-variable/inter/standard.css";
import "@fontsource-variable/inter/standard-italic.css";
import "tailwindcss/tailwind.css";
import "@/styles/index.css";

import { env } from "@/config/env.config";
import type { Locale } from "@/config/i18n.config";
import { createSingletonResource } from "@/lib/content/create-resource";

interface Props {
	locale: Locale;
	title: string;
}

const { locale, title } = Astro.props;

const metadata = await createSingletonResource("metadata", locale).read();

const googleSiteVerification = env.PUBLIC_GOOGLE_SITE_VERIFICATION;
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light" />
		{
			googleSiteVerification ? (
				<meta name="google-site-verification" content={googleSiteVerification} />
			) : null
		}

		<title>{[title, metadata.data.title].join(" | ")}</title>
		<meta name="description" content={metadata.data.description} />
	</head>

	<body>
		<slot />
	</body>
</html>
