---
import PageFooter from "@/components/page-footer.astro";
import PageHeader from "@/components/page-header.astro";
import type { Locale } from "@/config/i18n.config";
import Layout from "@/layouts/document.layout.astro";

interface Props {
	locale: Locale;
	title: string;
}

const { locale, title } = Astro.props;
---

<Layout locale={locale} title={title}>
	<div class="grid min-h-full grid-rows-[auto_1fr_auto]">
		<PageHeader locale={locale} />
		<slot />
		<PageFooter locale={locale} />
	</div>
</Layout>
